section div ul, section div ol {
  font-weight: 200;
  padding-top: 150px;
  list-style-type: none;
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 600px) {
  .ocultar {
    display: none;
  }
}

.altura-carta {
  width: 90%;
  max-height: 600px;
  height: auto;
  padding-left: 120px;
}

@media (max-width: 600px) {
  .carta-mbl {
    width: 263px;
    height: 619px;
    padding-left: 100px;
  }
}
@media (min-width: 600px) {
  .carta-mbl {
    display: none;
  }
}

/** section que se repite en las 5 pag **/
section {
  background-image: url(../img/bardesenfocado.jpg);
  background-size: 100%;
  width: 1060;
  background-repeat: repeat-y;
}

@media (max-width: 600px) {
  .descripcion {
    font-size: 20px;
  }
}

section p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 60px 80px 60px 80px;
  text-shadow: 1px 2px 2px black;
}

.altura {
  height: 700px;
}

/** esta clase resalta el color de la descripcion en el inicio **/
.resaltar-color {
  color: red;
}

/** las dos listas de la pagina contacto**/
section div ol {
  font-family: "Roboto Slab", serif;
  color: white;
  text-align: end;
}
@media (max-width: 576px) {
  section div ol {
    text-align: start;
    font-size: 20px;
  }
}
section div ul {
  font-family: "Roboto Slab", serif;
  color: white;
}
@media (max-width: 576px) {
  section div ul {
    font-size: 20px;
  }
}

/** aqui el formulario **/
section div form {
  padding-top: 100px;
  padding-bottom: 100px;
}
section div form label {
  max-width: 30px;
  background-color: rgb(27, 27, 27);
  color: white;
}

.enviar {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 100px;
}

@media (min-width: 576px) {
  .size-label {
    width: 100px;
    height: 90px;
    padding-top: 20px;
  }
}

/** aqui el section del iframe (googlemaps) **/
section div iframe {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 800px;
  height: 600px;
}

footer {
  background-color: rgb(27, 27, 27);
}
footer ul li {
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  padding-top: 100px;
  padding-bottom: 100px;
  list-style-type: none;
  font-size: 17px;
  color: white;
}
@media (max-width: 500px) {
  footer ul li {
    text-align: center;
  }
}

@media (min-width: 500px) {
  .list-footer {
    text-align: end;
  }
}

header {
  background-color: rgb(27, 27, 27);
}
header nav ul {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header nav ul li {
  list-style-type: none;
  padding: 1px 10px 5px 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 5px;
}
header nav ul li a {
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 200;
  font-size: 25px;
  text-shadow: 1px 2px 2px black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .size-navegador {
    margin: 2px;
    border-radius: 5px;
    padding: 1px 4px 1px 4px;
  }
}

@media (max-width: 600px) {
  .font-size-a {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .nav-mobile {
    flex-wrap: wrap;
  }
}

main {
  background-image: url(../img/hojasfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main h1 {
  font-weight: 400;
  font-size: 100px;
  padding: 15px 0 0 0;
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-shadow: 1px 2px 2px black;
}
main h2 {
  font-weight: 200;
  font-size: 40px;
  padding: 0 0 10px 0;
  color: white;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-shadow: 1px 2px 2px black;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .size-h1 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .size-h2 {
    font-size: 18px;
    margin-bottom: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
}

/** animacion de inicio, carta, contacto, ubicacion y galeria **/
.animacion:hover {
  transform: scale(1.2);
  background-color: rgb(70, 70, 70);
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
