footer{
    background-color: rgb(27, 27, 27);
    height: 200px;
    ul{
        li{
            @media (max-width:576px){
                text-align: center;
            }
            font-family: $fuente;
            font-weight: 200;
            padding-top: 100px;
            list-style-type: none;
            font-size: 17px;
            color: $color-principal
        }
    }
}

.list-footer{
    @media (min-width:576px){
        text-align: end;
    }
}