header{
    height: 85px;
    background-color: rgb(27, 27, 27);
    nav{
        ul{
            padding-top: 15px;
            padding-bottom: 15px;
            li{
                list-style-type: none ;
                padding: 1px 10px 5px 10px ;
                border: map-get($nav-border, brd);
                border-radius: map-get($nav-border, brd-r );
                margin: map-get($nav-border, mrg);
                a{
                    font-family: $fuente;
                    color: $color-principal;
                    font-weight: 200;
                    font-size: 25px;
                    text-shadow: 1px 2px 2px black;
                    text-decoration: none ;
                }
            }
        }
    }
}

.size-navegador{
    @media (max-width:600px){
        margin: 2px;
        border-radius: 5px;
        padding: 1px 4px 1px 4px;
    }
}

.font-size-a{
    @media (max-width:600px){
        font-size: 20px;
    }
}