/** section que se repite en las 5 pag **/

section{
    background-image: url(../img/bardesenfocado.jpg);
    background-size: 100%;
    width: 1060;
    background-repeat: repeat-y;
}

.descripcion{
    @media (max-width:600px){
        font-size: 20px;
    }
}

section{
    p{
        font-family: $fuente;
        font-weight: 400;
        font-size: 30px ;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 60px 80px 60px 80px;
        text-shadow: 1px 2px 2px black;
    }
}

.altura{
    height: 700px;
}

/** esta clase resalta el color de la descripcion en el inicio **/

.resaltar-color{
    color: red;
}

/** las dos listas de la pagina contacto**/

section{
    div{
        ol{
        font-family: $fuente;
        color: $color-principal;
        text-align: end;
        @extend %list-contacto;
        @media (max-width:576px){
            text-align: start;
            font-size: 20px;
        }
        }
        ul{
        font-family: $fuente;
        color: $color-principal;
        @extend %list-contacto;
        @media (max-width:576px){
            font-size: 20px;
        }
        }
    }
}

/** aqui el formulario **/

section{
    div{
        form{
            padding-top: 100px;
            padding-bottom: 100px;
            label{
                max-width: 30px;
                background-color: rgb(27, 27, 27);
                color: $color-principal
            }
        }
    }
}

.enviar{
    background-color: rgb(27, 27, 27);
    color: $color-principal;
    padding: 10px;
    margin-top: 20px;
    width: 100px;
}

.size-label{
    @media (min-width:576px){
        width: 100px;
        height: 90px;
        padding-top: 20px;
    }
}

/** aqui el section del iframe (googlemaps) **/

section{
    div{
        iframe{
        padding-top: 80px;
        padding-bottom: 80px;
        width: 800px;
        height: 600px;
        }
    }
}
